# Répertoires à ignorer pour CLion

/cmake-build-debug
.idea/

# Répertoire à ignorer pour VSCode

.vscode

# Répertoires à ignorer pour Netbeans

build/
dist/
nbproject/

# Dans Netbeans on ignore aussi ce Makefile s'il est présent

Makefile